
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-Dossier medicale</title>
</head>
<body>


    
       

               
              
   
         <div class="row">
         <div class="col-lg-5">
                           
                             
                          <!-- main app container -->
<div class="">
  <div class="container">
      <div class="row ">
          <div class="mt-5">

            <img src="/assets/medcin.png" style="height:100% ;">
              
             
          </div>
      </div>
  </div>
</div>



                        </div>
                        <div class="col-lg-7 mt-3">
                            <div class="card  " style="width: 38rem; opacity: 85%; height: 30rem;background-color:white; color:white">
             
                                <div class="card-body  text-black ">
                                  <!-- <h5 class="card-title text-center">Admission Patient</h5> -->
                                
                                <div>
                                  <div class="container c_form " >
                                    <!-- Table -->
                                    <div class="">
                                
                                              <h2 class="text-center text-white " style="padding-top: 10px;background-color:#4AAAF0;padding: 2px;">Les Informations du patient</h2>
                                              <form role="form" class="row g-3" >
                                     
                                                <div class="form-group col-md-4">
                                                  <label for="prenom"><span >Prénom</span></label>
                                                  <div  class="input-group input-group-alternative mb-3">
                                  
                                                    <input formControlName="nom" class="form-control" type="text">                                                  </div>
                                                 
                                                </div>
                                  
                                                <div class="form-group col-md-4">
                                                  <label for="prenom">Nom</label>
                                                  <div  class="input-group input-group-alternative mb-3">
                                  
                                                    <input formControlName="nom" class="form-control" type="text">
                                                  </div>
                                                   
                                                </div>
                                  
                                  
                                                <div class="form-group col-md-4">
                                                  <label for="sexe">Sexe </label>
                                                  <div  class="input-group input-group-alternative mb-3">
                                  
                                                    <input formControlName="nom" class="form-control" type="text">
                                                  </div>
                                                  
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="sexe">Numéro Dossier</label>
                                                    <div  class="input-group input-group-alternative mb-3">
                                    
                                                      <input formControlName="Num-dossier" class="form-control" type="text">
                                                    </div>
                                                    
                                                  </div>
                                                
                                  
                                                <div class="form-group col-md-4">
                                                  <label for="poids">Poids </label>
                                                  <div class="input-group input-group-alternative mb-3">
                                  
                                                    <input formControlName="poids" class="form-control" type="text">
                                                  </div>
                                                 
                                                </div>
                                                <div class="form-group col-md-4">
                                                  <label for="groupe_sanguin">Groupe-sanguin </label><img src="/assets/isang.png" style="height: 1rem;margin-left: 5px;">
                                                  <div  class="input-group input-group-alternative mb-3">
                                  
                                                    <input formControlName="groupe_sanguin" class="form-control" type="text">
                                                  </div>
                                                    
                                                </div>
                                              
                                                <div class="form-group col-md-4">
                                                  <label for="telephone">Téléphone</label>
                                                  <div class="input-group input-group-alternative mb-3">
                                  
                                                    <input formControlName="telephone" class="form-control" type="type">
                                                  </div>
                                                    
                                                </div>
                                  
                                  
                                                <div class="form-group col-md-4">
                                                  <label for="dateAdmission">Date-Admission  </label>
                                                  <div class="input-group input-group-alternative mb-3">
                                  
                                                    <input  formControlName="dateAdmission"
                                                    type="text" class="form-control" autocomplete="on">
                                                  </div>
                                                  
                                                </div>
                                                <div class="form-group col-md-4">
                                                  <label for="dateNaiss">Date de Naissance </label>
                                                  <div  class="input-group input-group-alternative mb-3">
                                  
                                                    <input  formControlName="dateNaiss"
                                                    type="text" class="form-control" autocomplete="on">
                                                  </div>
                                                 
                                                </div>
                    
                                               
                                               
                                              
                                                <div  style="text-align:center;">
                                                    <button type="submit" class="btn btn-danger text-white">Télécharger </button>
                                                </div>
                                              </form>
                                           
                                          </div>
                                        </div>
                                
                                </div>
                                
                                </div>
                              </div>
                            
                        </div> 
                    </div>
              
            
     
  


</body>
</html>
