/* // pagination
ngb-pagination li {
    &:first-child a {
      span {
        display: none;
      }
     
    }
  } */

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030; 
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
  }
  .modal{z-index: 1060;}

.search{
  position: absolute;
  background-color: #fff;
  height: 40px;
  border-radius: 30px;
  padding: 5px;
  padding-bottom: 45px;
  border:1px solid #236dd4;
  margin-top: 5px;
}
.inp{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #49AAF0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0a68ec;
  transition: 0.4s;
  text-decoration: none;
}
.search:hover > .inp{
  width: 240px;
  padding: 0 6px;
  top: 50px;

}


.search:hover > .btns{

  background-color: #0769B0 ;
}
.search > .inp:focus{
  width: 240px;
  padding: 0 6px;
  top: 50px;
  
}
.b{
  background-color: #49AAF0;
  margin-top: 12%;
  display: flex;
  justify-content: center;
}

td{
  font-size: 22px;
}
.debut{
    background-color: #49AAF0;
  }

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      