/* // pagination
ngb-pagination li {
    &:first-child a {
      span {
        display: none;
      }
     
    }
  } */




  .search{
    position: absolute;
    background-color: #fff;
    height: 40px;
    border-radius: 30px;
    padding: 5px;
    padding-bottom: 45px;
    border:1px solid #236dd4;
    margin-top: 5px;
  }
  .inp{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #49AAF0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0a68ec;
    transition: 0.4s;
    text-decoration: none;
  }
  .search:hover > .inp{
    width: 240px;
    padding: 0 6px;
    top: 50px;
  
  }
  .debut{
    background-color: #49AAF0;
  }
  
  
  .search:hover > .btns{
  
    background-color: #0769B0 ;
  }
  .search > .inp:focus{
    width: 240px;
    padding: 0 6px;
    top: 50px;
    
  }
  
  
  td{
    font-size: 22px;
  }
  
.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
  transform: translate3d(-10px, 20px, 0) scale(0.91);
  filter: blur(20px);
  opacity: var(0.65);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
 


.navbar{
    padding: 0px;
    margin: 0px;
}
.btn1{
    border: 1px solid #0769B0;
    border-radius: 10px;
}

/* th, td{
    color:black;
} */
.head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input{
    background-color:white;
    border: 4px solid #0769B0;
   
    

}
.recherche, .tete{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.btn{
    float: right;
    color: blue;
}
.tete{
    border: 5px solid white;
    border-radius: 10px 10px 10px;
}


.colorNav
{
    background-color: #0d6efd;
    color: white;}
    a{
        color: white;
        cursor: pointer;
    }
    .info{
        height: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }.info p:first-child{
        margin-left: 10px;
    }
    .lesLiens{
        padding: 10px;
        font-size: 20px;}
        a{
            margin: 20px;
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }a:hover:not(:last-child){
            border-bottom: 2px solid white;
            padding-bottom: 5px;
        }
    

        .mes
        {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
       /* css new */
       