<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-secretaire</title>
</head>
<body>

 <div class="container-fluid" style="min-height: 100vh;filter: contrast(95%);">
    <div class="row">
        <div class="col-lg-2" style="height: 100vh;background-color:#4AAAF0;">
            <img class="" src="/assets/logo.png" alt="logo" style="height:100px ;margin-left: 30%;margin-top: 12%;">
            <h5 class="text-white text-center">Cardio-assistance</h5><br>
            
            <button class="btn1 mt-3" style="background-color: #0769B0;color: white;margin-left: 7.5%; width: 70%; padding: 2%;" [class.activeLink]="isActiveTablep"  (click)="aff($event)"> <a><span style="font-size: 1.2rem;">Liste Patient</span></a></button><br><br>
            <button class="btn1 mt-3" style="background-color: #0769B0;color: white;margin-left: 7.5%; width: 70%;padding: 2%;" (click)="affArchive($event)" [class.activeLink]="isActiveAjoutp"><a> <span style="font-size: 1.2rem;">Ajout Patient</span></a></button><br><br>
            <button class="btn1 mt-3" style="background-color: #0769B0;color: white;margin-left: 7.5%;width: 70%; padding: 2%;"> <span style="font-size: 1.2rem;" (click)="destroy()">Deconnexion</span></button><br><br>
       
        </div>
        <div class="col-lg-10" style="height:100vh;padding: 0;">
                <div class="navbar d-flex" style="height: 15%;background-color: #4AAAF0;">
                <h1 class="titre " style="color:white;margin-left: 35%">Espace Secretaire</h1>
               <p style="color: white;margin-right: 5%; font-size: 20px;">  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_291_2448)">
                <path d="M12.5 14.0625C16.3818 14.0625 19.5312 10.9131 19.5312 7.03125C19.5312 3.14941 16.3818 0 12.5 0C8.61816 0 5.46875 3.14941 5.46875 7.03125C5.46875 10.9131 8.61816 14.0625 12.5 14.0625ZM18.75 15.625H16.0596C14.9756 16.123 13.7695 16.4062 12.5 16.4062C11.2305 16.4062 10.0293 16.123 8.94043 15.625H6.25C2.79785 15.625 0 18.4229 0 21.875V22.6562C0 23.9502 1.0498 25 2.34375 25H22.6562C23.9502 25 25 23.9502 25 22.6562V21.875C25 18.4229 22.2021 15.625 18.75 15.625Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_291_2448">
                <rect width="25" height="25" fill="white"/>
                </clipPath>
                </defs>
                </svg>{{identifiant}}</p>
                </div>
                
                <app-secretaire *ngIf="afficheTablep"></app-secretaire>
                <app-admission-patient *ngIf="afficheAjoutp"></app-admission-patient>
                <router-outlet></router-outlet>
              
            

        </div>
    </div>

</div>
</body>
</html>
