.navbar {
   
    background-color: #49AAF0;
    height: 100px;
  }
  .alert{
    filter: contrast(210%);
   
  }

  .colorr{
    background-color:      #49AAF0;

  }
.t{
    margin-top: 50px;
   margin-left: 36%;
}



.e{
  background-color: #0769B0;
  cursor: pointer;
}

.activeLink{
  background-color: #FC0A0A;
  outline: none;
}


/* .e:focus{
  background-color: #91D333;
  cursor: pointer;
} */




.bordure{
  border: none;
}
.boutton{
  background-color: #0769B0;
  color: #FC0A0A;
  border: #FC0A0A;
}



.bouttonr{
  background-color: red;
  color: #91D333;
  border: #91D333;
}


.invalid{
    border: 1px solid #dc3545;
    border-radius: 7px;
  }
  
  .btnp{
    background-color: #172b4d;
  }
  
  .box{
    background-color: #fff;
    width: 55%;
    margin: auto;
    border-radius: 7px;
    box-shadow: 6px 5px 5px #f56036;
    border:1px solid #dc3545;
  }
  
  form
  {
    padding: 20px;
  }
  .obligatoire{
    color: #dc3545;
  }
  .eyes{
    position: absolute;
    right: 10px;
    bottom: 6px;
    z-index: 1000;
    cursor: pointer;
  }
  








