<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-secretaire</title>
</head>
<body>

 <div class="container-fluid" style="min-height: 100vh;filter: contrast(95%);">
    <div class="row">
        <div class="col-lg-2" style="height: 100vh;background-color:#4AAAF0;">
            <img class="" src="/assets/logo.png" alt="logo" style="height:100px ;margin-left: 30%;margin-top: 12%;">
            <h5 class="text-white text-center">Cardio-assistance</h5><br>
            
            <button class="btn1 mt-3" style="background-color: #0769B0;color: white;margin-left: 7.5%; width: 70%; padding: 2%;"> <span style="font-size: 1.2rem;">Liste Patient</span></button><br><br>

            <button class="btn1 mt-3" style="background-color: #0769B0;color: white;margin-left: 7.5%;width: 70%; padding: 2%;"> <span style="font-size: 1.2rem;">Deconnexion</span></button><br><br>
       
        </div>
        <div class="col-lg-10" style="height:100vh;padding: 0;">
                <div class="navbar d-flex" style="height: 15%;background-color: #4AAAF0;">
                <h1 class="titre " style="color:white;margin-left: 15%">Espace Medcin</h1>
               <img src="/assets/user.png" alt=""  style="height:10px ;margin-left: 30%;"><h6 style="color: white;margin-right: 7.5%;">Nom et Prenom</h6>
                </div>
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/assets/rythmecardio.gif" style="height:70% ;" alt="">
                        </div>
                       
                        <div class="col-lg-7 mt-2" style="height:40% ;padding: 10px; border:1px solid rgba(97, 93, 93, 0.904);border-radius: 10px;">

                            <div class="row">
                                <h5  style="text-align:center ;">Nom et Prenom du patient</h5>
                                <div class="col-lg-6 mt-2">
                                    <div class="card" style="width: 18rem;">
                                        <h6 style="text-align:center ;color:white;background-color:black;">Pulse(BPM)</h6>
                                        <div class="card-body">
                                          <p>Pulse cardiaque:</p>
                                          <img src="/assets/pulse.png" style="height:40px ;margin-left:50%" alt="">
                                          <p>122(bpm)</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-6 mt-2">
                                    <div class="card" style="width: 18rem;">
                                        <h6 style="text-align:center ;color:white;background-color:black;">Poids(Kg)</h6>
                                        <div class="card-body">
                                            <p>Poids:</p>
                                            <img src="/assets/poids.png" style="height:40px ;margin-left:50%" alt="">
                                            <p>65(Kg)</p>                                        </div>
                                      </div>
                                </div>
                            </div>
                            <button class="btn1 mt-2" style="background-color: #4AAAF0;color: white;margin-left: 30%; width: 50%; padding: 2%;"   data-bs-toggle="modal" data-bs-target="#modalRegisterForm"> <span style="font-size: 1.2rem;">Dossier Medicale</span></button><br><br>


                            <!-- popup -->
                            <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog  " role="document">

    <form role="form" class="row g-5" >
      <div class="modal-content ok">
        <div class="modal-header text-center bordure">
          <h4 class="modal-title w-100 font-weight-bold">Création compte</h4>
          <button type="reset" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div class="row mb-3">
            <div class="form-group col-md-6">
              <label for="prenom">Nom <span class="obligatoire">*</span> </label>
              <div
                class="input-group input-group-alternative mb-3">

                <input formControlName="prenom" type="text" class="form-control" autocomplete="on">
              </div>
            
            </div>

            <div class="form-group col-md-6">
              <label for="prenom">Prénom <span class="obligatoire">*</span></label>
              <div 
                class="input-group input-group-alternative mb-3">

                <input formControlName="nom" class="form-control" type="text">
              </div>
            
            </div>
          </div>
          <div class="row mb-3">


            <div class="form-group col-md-6">
              <label for="email">Email <span class="obligatoire">*</span></label>
              <div
                class="input-group input-group-alternative mb-3">

                <input formControlName="email" class="form-control" type="email">
              </div>
           
            </div>
            <div class="form-group col-md-6">
              <label for="mdp">Mot de passe <span class="obligatoire">*</span></label>
              <div 
                class="input-group input-group-alternative mb-3">

                <input formControlName="password" class="form-control" type="">
                <div class="eyes" >
                  <svg width="20" height="17" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.16 9.58C14.16 11.56 12.56 13.16 10.58 13.16C8.6 13.16 7 11.56 7 9.58C7 7.6 8.6 6 10.58 6C12.56 6 14.16 7.6 14.16 9.58Z"
                      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M10.785 17.55C14.315 17.55 17.605 15.47 19.895 11.87C20.795 10.46 20.795 8.09 19.895 6.68C17.605 3.08 14.315 1 10.785 1C7.255 1 3.965 3.08 1.675 6.68C0.775 8.09 0.775 10.46 1.675 11.87C3.965 15.47 7.255 17.55 10.785 17.55Z"
                      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
                <div class="eyes" >
                  <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.108 7.96063L9.04796 12.599C8.37696 11.9839 8 11.1497 8 10.2798C8 9.84909 8.09255 9.4226 8.27236 9.02467C8.45217 8.62675 8.71572 8.26519 9.04796 7.96063C9.3802 7.65607 9.77464 7.41448 10.2087 7.24966C10.6428 7.08483 11.1081 7 11.578 7C12.5269 7 13.437 7.34555 14.108 7.96063V7.96063Z"
                      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M14.51 10.8083C14.3745 11.4478 14.0337 12.0355 13.5312 12.4961C13.0287 12.9567 12.3876 13.2692 11.69 13.3933M8.47 12.4858L1 19.3333M21 1L13.53 7.8475"
                      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M16.605 3.87C14.855 2.66 12.855 2 10.785 2C7.255 2 3.965 3.90667 1.675 7.20667C0.775 8.49917 0.775 10.6717 1.675 11.9642C2.465 13.1008 3.385 14.0817 4.385 14.87M7.205 16.4833C8.345 16.9233 9.555 17.1617 10.785 17.1617C14.315 17.1617 17.605 15.255 19.895 11.955C20.795 10.6625 20.795 8.49 19.895 7.1975C19.565 6.72083 19.205 6.27167 18.835 5.85"
                      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
              </div>
              
            </div>




          </div>
          <div class="row mb-3">

            <div class="form-group col-md-6">
              <label for="role">Role <span class="obligatoire">*</span></label>
              <div 
                class="input-group input-group-alternative mb-3">

                <select formControlName="role" class="form-select">
                  <option selected></option>
                  <option>Médecin</option>
                  <option>Sécretaire</option>
                </select>
              </div>
              
            </div>

            <div class="form-group col-md-6">
              <label for="mdp_c">Téléphone <span class="obligatoire">*</span></label>
              <div class="input-group input-group-alternative mb-3">

                <input class="form-control" formControlName="" type="tel">


              </div>

           
            </div>
          </div>
        
        </div>
      </div>
    </form>
  </div>
</div>
                            <!-- fin popup -->
                        </div>
                       
                        
                    </div>
                    <h5 style="background-color: red;text-align:center;">ECG DU PATIENT</h5>
                </div>
                
                

        </div>
        
    </div>

</div>
</body>
</html>
