<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-secretaire</title>
</head>
<body>

 <div class="container-fluid" style="min-height: 100vh;filter: contrast(95%);">
    <div class="row">
       
        <div class="col-lg-12" style="height:100vh;padding: 0;">
               
              
               <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-8">
                           
                             
                          <!-- main app container -->
<div class="">
  <div class="container ">
      <div class="row  ">
          <div class="">

            <div class="card  " style="width: 40rem; opacity: 85%; height: 40rem;background-color:#4AAAF0; color:white">
             
              <div class="card-body  text-black ">
                <!-- <h5 class="card-title text-center">Admission Patient</h5> -->
              
              <div>
                <div class="container c_form " >
                  <!-- Table -->
                  <div class="">
              
                            <h2 class="text-center" style="padding-top: 10px;">Inscription</h2>
                            
                          <form role="form" class="row g-3" [formGroup]="signupForm" (ngSubmit)="registerUser()">
              
                            <div class="form-group col-md-6">
                              <label for="prenom">Prénom <span class="obligatoire text-danger">*</span> </label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['prenom'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input  formControlName="prenom"
                                type="text" class="form-control" autocomplete="on">
                              </div>
                              <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['prenom'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['prenom'].errors['required']">
                                    Le prenom est obligatoire!
                                </div>
                                <div *ngIf="submitted && signupForm.controls['prenom'].errors['cannotContainSpace']">
                                    Espace prenom non autorisé
                                </div>
                                </div>
                            </div>
              
                            <div class="form-group col-md-6">
                              <label for="prenom">Nom <span class="obligatoire text-danger">*</span></label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['nom'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input formControlName="nom" class="form-control" type="text">
                              </div>
                                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['nom'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['nom'].errors['required']">
                                    Le nom est obligatoire!
                                </div>
                                <div *ngIf="submitted && signupForm.controls['nom'].errors['cannotContainSpace']">
                                    Espace non autorisé
                                </div>
                                </div>
                            </div>
              
              
                            <div class="form-group col-md-6">
                              <label for="sexe">Sexe <span class="obligatoire text-danger">*</span></label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['sexe'].errors}" class="input-group input-group-alternative mb-3">
              
                                <select formControlName="sexe" class="form-control" >
                                    <option  selected disabled></option>
                                    <option>Masculin</option>
                                    <option>Feminin</option>
                                </select>
                              </div>
                              <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['sexe'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['sexe'].errors['required']">
                                    choix du Sexe  obligatoire!
                                </div>
                                <div *ngIf="submitted && signupForm.controls['sexe'].errors['cannotContainSpace']">
                                    Espace non autorisé
                                </div>
                                </div>
                            </div>
                            
              
                            <div class="form-group col-md-6">
                              <label for="poids">Poids <span class="obligatoire text-danger">*</span></label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['poids'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input formControlName="poids" class="form-control" type="number">
                              </div>
                                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['poids'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['poids'].errors['required']">
                                    Le nom est obligatoire!
                                </div>
                                <div *ngIf="submitted && signupForm.controls['poids'].errors['cannotContainSpace']">
                                    Espace non autorisé
                                </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="groupe_sanguin">Groupe-sanguin </label><img src="/assets/isang.png" style="height: 1rem;margin-left: 5px;">
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['groupe_sanguin'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input formControlName="groupe_sanguin" class="form-control" type="text">
                              </div>
                                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['groupe_sanguin'].errors" class="text-danger">
                                
                                <div *ngIf="submitted && signupForm.controls['groupe_sanguin'].errors['cannotContainSpace']">
                                    Espace non autorisé
                                </div>
                                </div>
                            </div>
                          
                            <div class="form-group col-md-6">
                              <label for="telephone">Téléphone<span class="obligatoire text-danger">*</span></label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['telephone'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input formControlName="telephone" class="form-control" type="number">
                              </div>
                                <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['telephone'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['telephone'].errors['required']">
                                    Le Numéro de téléphone est obligatoire!
                                </div>
                               
                                </div>
                            </div>
              
              
                            <div class="form-group col-md-6">
                              <label for="dateAdmission">Date-Admission <span class="obligatoire text-danger">*</span> </label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['dateAdmission'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input  formControlName="dateAdmission"
                                type="date" class="form-control" autocomplete="on">
                              </div>
                              <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['dateAdmission'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['dateAdmission'].errors['required']">
                                    La date est obligatoire!
                                </div>
                               
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="dateNaiss">Date de Naissance <span class="obligatoire text-danger">*</span> </label>
                              <div [ngClass]="{'invalid':submitted && signupForm.controls['dateNaiss'].errors}" class="input-group input-group-alternative mb-3">
              
                                <input  formControlName="dateNaiss"
                                type="date" class="form-control" autocomplete="on">
                              </div>
                              <div style="margin-top: -10px;" *ngIf="submitted && signupForm.controls['dateNaiss'].errors" class="text-danger">
                                <div *ngIf="submitted && signupForm.controls['dateNaiss'].errors['required']">
                                    La date est obligatoire!
                                </div>
                               
                                </div>
                            </div>

                           
                           
                          
                          <div  style="text-align:center;">
                              <button type="submit" class="btn btn-danger text-white">Inscrire</button>
                          </div>
                          </form>
                        </div>
                      </div>
              
              </div>
              
              </div>
            </div>
              
             
          </div>
      </div>
  </div>
</div>



                        </div>
                        <div class="col-lg-4 mt-3">
                            <img src="/assets/patient.png" style="height:80% ;">
                        </div> 
                    </div>
               </div>
            
        </div>
    </div>

</div>
</body>
</html>
